@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --additional-color: #d9d9d9;
  --green: #7EE787;
  --red: #ca1414;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.button{
  background-color: rgb(31, 79, 224);
  color: white;
  padding: 12px;
  min-width: 180px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    color: white;
    background-color: rgb(32, 78, 214);
  }

  &:active{
    background-color: rgb(32, 72, 194);
  }
}

.ticket{
  background: #2d2d2d;
  position: relative;
  padding: 40px;
  border-radius: 8px;
  border: 1px solid rgb(60, 60, 60);
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.5), 0 2px 4px -2px rgb(0 0 0 / 0.5);
}

.ticketHover:hover{
  background: #121212;
}

.title{
  font-weight: 700;
  color: var(--green);
}

.input{
  padding: 6px 12px;
  width: 100%;
  background: rgb(31, 32, 35);
  border: 1px solid rgb(60, 63, 68);
  border-radius: 4px;
  font-size: 13px;
  color: rgb(247, 248, 248);
  height: 46px;
  appearance: none;
  transition: border 0.15s ease 0s;
}

.input:focus{
  outline: none;
  box-shadow: none;
  border-color: rgb(100, 153, 255);
}

.link{
  color:rgb(32, 72, 194);
  font-weight: 700;
}